
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600&display=swap');

/* Font */
*{
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
/*     background: linear-gradient(180deg, rgb(39, 39, 39), rgba(5, 4, 10, 0.8) 100%); */
    background: rgb(39, 39, 39) !important;
    color: #fff !important;
}

.fakeFluid{
  width: 75% !important;
}

footer{
  background-color: rgb(20, 20, 20);
  margin-top: 25px; 
  padding: 11px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.my-modal .modal-content{
  background-color: #393939;
/*   background-color: #E8E9EB; */
}
