.loginContainer { 
    width: 300px;
    margin: 2em auto;
}

.inputGroup {
    position:relative; 
    margin-bottom:45px;
}

.customInput {
    font-size: 18px;
	padding: 10px 10px 10px 5px; 
	-webkit-appearance: none;
	display: block;
	background: transparent;
/* 	color: #394679; TODO: light mode*/
    color: #E8E9EB;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.inputErr{
	border-bottom: 1px solid #FF0000;
}

.customInput:focus { outline:none; }

.customLabel {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.customInput:focus ~ .customLabel, .customInput:valid ~ .customLabel{
  top:-20px;
  font-size:14px;
/*   color:#5264AE; */
    color:#ff7800;
} 


.auth-title {
    margin-top: 0.7em;
    margin-bottom: 1.2em;
/*     color: #5264AE; */
    color: #ff7800;
    text-align: center; 
}

.modal-nav {
    margin: auto;
    width: 85%;
    padding-top: 40px;
    text-align: center;
}

.modal-nav-link {
    color: #ff7800;
    cursor: pointer;
}

.checked{
    color:#ff7800 !important;
}

.checkboxWrap{
    display: block;
    cursor: pointer;
    margin-top: -15px;
    margin-bottom: 20px;
    font-weight: 500;
    user-select: none;
    color: #999;
}

.checkboxWrap input {
    opacity: 0;
}

.checkmark{
   font-size: 20px;
   margin-right: 7px; 
}