body{
    background: rgb(39, 39, 39);
    color: #fff;
}

.navbar-container{
    background: linear-gradient(90deg, rgba(20, 20, 20, 0.9), rgba(5, 4, 10, 0.8) 250%);
    height: 70px;
    display: flex;
    font-size: 1.1rem;
    color: #fff;
}

.navbar-container.active{
    background: transparent;
}

.navbar-logo{
    margin-left: 150px;
    border-radius: 20px;
    width: 3.1rem;
    height: 3.1rem;
}

.navbar-link{
    margin-left: 1.5rem;
    justify-self: start;
    text-decoration: none;
    color: white;
}

.navbar-link:hover{
    color: orange;
}

.navbar-auth{
    display: flex;
    margin-right: 150px;
}

.auth-btn{
    cursor: pointer;
}

.auth-btn:hover{
    color:orange;
}

.auth-btn::before{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: orange;
    border-radius: 50%;

    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.auth-btn:hover::before{
    width: 100%;
}

.divider{
    border-left: 2px solid #fff;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}